 * {
    box-sizing: border-box;
}

h1 {
<<<<<<< HEAD
    font-family: 'Rubik', sans-serif;
    color: rgb(35, 128, 115);
=======
    font-family: arial;
    color: rgb( 11, 86, 117 );
>>>>>>> parent of 72b520f (Edited HTML/CSS Stuffs)
}

body {
    background-repeat: no-repeat;
    font-family: arial;
    margin: 0;
    padding: none;
<<<<<<< HEAD
    background-color: rgb(133,220,186);
    color: rgb(43, 143, 130);
}

footer {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
=======
    background-color: rgb( 154, 205, 237 );
    color: rgb( 28, 78, 104 );
}

footer {
    font-family: arial;
    font-size: 12px;
>>>>>>> parent of 72b520f (Edited HTML/CSS Stuffs)
    padding-left: 10px;
    position:absolute;
    bottom: 0;
    width: 100%;
}

/* Links */
a {
    text-decoration: none;
}
a:link {
    color: rgb(25, 103, 92);
    color: rgb(2, 184, 160);
}
a:visited {
    color: rgb(47, 208, 187);
    color: rgb(5, 103, 92);
}
a:hover {
    color: rgb(86, 243, 222);
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
    padding-right: 0;
    display: block;
    border: 0px none;
    visibility: hidden;
}
