* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: rgb( 11, 86, 117 );
}

body {
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: none;
    background-color: rgb(133,220,186);
    color: rgb(43, 143, 130);
}

footer {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding-left: 10px;
    position:absolute;
    bottom: 0;
    width: 100%;
}

/* Links */
a {
    text-decoration: none;
}
a:link {
    color: rgb(27, 193, 171);
}
a:visited {
    color: rgb(43,143,130);
}
a:hover {
    color: rgb(86, 243, 222);
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
    padding-right: 0;
    display: block;
    border: 0px none;
    visibility: hidden;
}
